<%= form_for([@lab, @team_role], html: { role: 'form', class: 'form-horizontal' }) do |f| %>

<div class="form-group">
	<%= f.label :lab_id, class: 'col-sm-3 control-label' %>
	<div class="col-sm-9">
		<div class="form-control"><%= @lab.name %></div>
		<%= f.hidden_field :lab_id %>
	</div>
</div>

<div class="form-group">
	<%= f.label :user_id, class: 'col-sm-3 control-label' %>
	<div class="col-sm-9">
		<div class="form-control"><%= @team_role.user ? get_user_popover_name(@team_role.user) : 'vacant'%></div>
		<%= f.hidden_field :user_id %>
	</div>
</div>

<div class="form-group">
	<%= f.label :role_type, class: 'col-sm-3 control-label' %>
	<div class="col-sm-9">
		<%= f.collection_select :role_type_id, RoleType.all, :id, :name, {}, { class: 'form-control' } %>
	</div>
</div>

<div class="form-group">
    <%= f.label :comment, class: 'col-sm-3 control-label' %>
    <div class="col-sm-9 well">
      <%= f.text_area :comment, class: 'form-control bswysiwyg', rows: 3, placeholder: 'enter optional comment about the role, specific requirements, etc.' %>
    </div>
  </div>

<div class="form-group">
    <div class="col-sm-offset-3 col-sm-9">
      <%= f.submit 'Save', class: 'btn btn-sm btn-success' %>
    </div>
  </div>


<% end %>
